<div class="row">
  <div class="col-md-6">
    <%=c.full_name%>
  </div>
  <div class="col-md-5">
    <p> <%=c.email%></p>
  </div>
  <div class="col-md-1">
    <p>Delete</p>
  </div>
  </div>
  <hr style="margin-top: 0rem;">
