<div class="padding">
  <div class="row">
    <div class="col-md-10">
      <h1 class='hi1' >Employees</h1>
    </div>
    <div class="col-md-2">
      <%=link_to "Add new User", manager_employees_new_path, class:'btn btn-regular',
          style:'background:#2996cc; color:white;'%>
    </div>
  </div>
  <hr>
  <div class="padding">
    <%@users.managers.each do |user|%>
        <%= render 'user', user: user%>
    <%end%>
    <%if @users.employees.empty?%>
    <div class="no_product">
        <p>logo</p>
        <div class="no_product_header">
          <h1 class="no_product_h1">Add new Employe</h1>
          <p class="no_product_p">Add employees with names, email and password to help them get started taking orders.</p>
          <%=link_to "Add new User", manager_employees_new_path, class:'btn btn-regular',
              style:'background:#2996cc; color:white;'%>
        </div>
    </div>
    <%else%>
      <%@users.employees.each do |user|%>
          <%= render 'user', user: user%>
      <%end%>
  <%end%>
</div>
</div>
