/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require dashboard/bootstrap/dist/css/bootstrap.min.css
 *= require dashboard/styles/app.min.css
 *= require dashboard/styles/app.css
 *= require dashboard/styles/font.css
 *= require_self
 */

.new_product{
      display: block;
      width: 55%;
      margin:0 auto;
}
.new_user {
  display: block;
  width: 55%;
  margin:0 auto;
}

.p-form {
  color: #64696e;
  font-size: 14px;
  line-height: 1.5;
}

.h1 {
  margin: 0;
  padding: 0 16px;
  font-size: 34px;
  font-weight: 300;
  text-align: center;
}

.hi1 {
  margin: 0;
  padding: 0 16px;
  font-size: 34px;
  font-weight: 300;
}
