<div class="padding">
  <h1 class='hi1' >Categories</h1>
  <hr>
<%= form_for [:manager, Category.new] , class:'p-x-xs' do |f|%>
<div class="row">
<div class="col-md-4">

  <%= f.collection_select(:parent_id, Category.where(parent_id: nil),
   :id, :name, {:prompt => 'Choose a category'},{class: "form-control chosen-select"})%>

  <p class="p-form" style="text-align: center;" >
    Only when you are trying to create a sub category
  </p>
</div>
<div class="col-md-6">

      <%=f.text_field :name, class:'form-control', placeholder:'Category Name'%>
    </div>
<div class="col-md-2">
<%=f.submit 'Create Category', class:'btn btn-regular' ,style:'background:#2996cc; color:white;'%>
</div>
</div>
<%end%>
<hr style='margin-bottom: 0rem;'>
</div>
